/* ----------------Section---------------- */

section {
  //  padding: 94px 0;
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title,
.activity__title,
.team-title,
.filter-title,
.projects-title,
.clients-title {
  color: var(--title-text-color);
}
