:root {
    --primary-text-color: #757575;
    --color-logo: #000000;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --color-btn: #f5f4fa;
    --primary-bg-color: #ffffff;
    --color-hero-text: #ffffff;
    --color-address-link: rgba(255, 255, 255, 0.6);
    --color-icon: #afb1b8;
    --color-overlay: rgba(33, 150, 243, 0.9);
  }