/*--------------- Activity----------------- */

.activity {
  padding-top: 0;
}

.activity__list {
  display: flex;
  gap: 30px;
}

.activity__item {
  width: calc((100% - 60px) / 3);
}

.activity__title,
.team-title {
  margin-bottom: 50px;
  @extend %title;
  // font-size: 36px;
  // line-height: 1.2;
  // text-align: center;
  // letter-spacing: 0.03em;
}

.activity__thumb {
  position: relative;
}

.activity__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 107px;

  font-family: inherit;
  font-weight: 700;
  @include font(14px, 1.14, 0.03em);
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-hero-text);
  background-color: rgba(47, 48, 58, 0.8);
}
