/* ------------------Filter------------------ */

.list-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  // margin-bottom: 50px;
  margin-bottom: 40px;
  align-items: flex-start;
  justify-content: start;
  @include mobile {
    width: calc((100% - 24px) / 3);
    width: 100%;
    margin-bottom: 40px;
  }

  @include tablet {
    align-items: center;
    justify-content: center;
    // width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.filter-btn:first-child .button-secondary {
  min-width: 73px;
  // max-width: 130px;
  padding: 6px 25px;
}
